/* Google Iframe image */

/* .contact-google-image>iframe {
    position: absolute;
    width: 679px;
    height: 510px;
    left: 999px;
    top: 704px;
    background: url(/images/google-maps-image.png);
    background-position: center;
    background-size: cover;
} */


.mapouter {
    position: absolute;
    text-align: right;
    height: 510px;
    width: 679px;
    left: 999px;
    top: 704px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 510px;
    width: 679px;
}