/* NavBar */
.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #243A5A;
    font-weight: bold;
    margin: 0 240px;
    background: #FFFFFF;
}

.nav-ul {
    display: flex;
    gap: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.nav-ul li a {
    text-decoration: none;
    color: #4A4A4A;
}

.nav-ul li a:hover {
    border-bottom: 2px solid gray;
}