/* Contact section*/
.contact {
    position: relative;
}

.contact-article>h2 {
    position: absolute;
    width: 186px;
    height: 58px;
    left: 237px;
    top: 717px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #243A5A;
}

.contact-p1 {
    position: absolute;
    width: 468px;
    height: 19px;
    left: 237px;
    top: 783px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-p2 {
    position: absolute;
    width: 45px;
    height: 19px;
    left: 237px;
    top: 851px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-p3 {
    position: absolute;
    width: 176px;
    height: 19px;
    left: 347px;
    top: 851px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-p4 {
    position: absolute;
    width: 53px;
    height: 19px;
    left: 237px;
    top: 878px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-p5 {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 347px;
    top: 878px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-line {
    position: absolute;
    width: 295px;
    height: 0px;
    left: 237px;
    top: 939px;
    border: 1px solid #889EBE;
}

.contact-working-hours {
    position: absolute;
    width: 173px;
    height: 29px;
    left: 237px;
    top: 981px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #243A5A;
}

.contact-p6 {
    position: absolute;
    width: 223px;
    height: 19px;
    left: 237px;
    top: 1042px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #566C8C;
}

.contact-google-image>iframe {
    position: absolute;
    width: 679px;
    height: 510px;
    left: 999px;
    top: 704px;
    background: url(/images/google-maps-image.png);
    background-position: center;
    background-size: cover;
}