* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #12181B;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.container {
    display: grid;
    grid-template-columns:  55% 55% 55%;
    grid-template-rows: 55% 55% 55%;
    max-width: 500px;

}

.box {
    border: 2px solid white;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

